//colors
$black: #000;
$brown: #8B4513;
$white: #fff;

//fonts
$pacifico: 'Pacifico';
$quick_sand: 'Quicksand';
$sans: 'Source Sans Pro';


//sizes
$header: 25px;

//
$shadow: 0 0 2px #ccc;

//
$break-small: 767px;